<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style=" background-color:#e9ecef; padding: 10px;">
        <div style="background:#fff;border-radius:10px;box-shadow:0 4px 12px rgba(0,0,0,0.07);padding:36px 28px;width:100%;font-family:Verdana,sans-serif;">
            <div style="text-align:center;padding-bottom:20px; display: flex; align-items: center; justify-content: center;">
                <img src="https://r4lcfqu82x.ufs.sh/f/dD4aXXWLaAu6z1dEu3aGer3Id1LO4gB6EXfs9qZvnWJtpojF" style="width: 50px; height: 50px; background-color: #2F63FF; border-radius: 50%; margin-top: -8px; margin-right: 16px;"  alt="">
                <h2 style="color:#2F63FF;margin:0;font-size:22px;font-weight:700;">AutoPadi Organisation</h2>
            </div>
            <div style="padding-bottom:10px;text-align:center;">
                <p style="color:#444;font-size:16px;margin:0;">
                    Dear <span style="font-weight:600;">User</span>,
                </p>
            </div>
            <div style="text-align:center;padding-bottom:18px;">
                <p style="color:#444;font-size:16px;margin:0;">
                    To confirm your account, please verify your email address using the code below.
                </p>
            </div>
            <div style="text-align:center;padding-bottom:22px;">
                <span style="display:inline-block;background:#e3f2fd;border:2px dashed #2F63FF;border-radius:8px;padding:18px 36px;font-size:30px;letter-spacing:10px;color:#2F63FF;font-weight:900;">
                    654321
                </span>
            </div>
            <div style="text-align:center;padding-bottom:10px;">
                <p style="color:#888;font-size:13px;margin:0;">
                    Didn’t log in ? You can safely ignore this email.
                </p>
            </div>
        </div>
    </div>
</body>
</html>